/* Importando Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Estilos globais */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: "Segoe UI";
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Configuração do ScrollReaver */
.content-services1,
.content-services2,
.title-plans,
.effect-reveal-1,
.effect-reveal-2,
.effect-reveal-3,
.feedback-title {
    visibility: hidden;
}

@media (max-width: 768px) {
    .services,
    .content-services1,
    .content-services2,
    .title-plans,
    .effect-reveal-1,
    .effect-reveal-2,
    .effect-reveal-3,
    .feedback-title {
        visibility: visible;
    }
}


/* NAV BAR */
header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin-top: 5px;
    font-size: 15pt;
    font-weight: bold;
    margin-left: 10px;
}

nav {
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .effect-underline {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 8px;
    position: relative;
}

.effect-underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.effect-underline:hover:after {
    width: 100%;
    left: 0;
}

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    nav .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #000;
        width: 100%;
        text-align: center;
    }

    nav .nav-links.active {
        display: flex;
        z-index: 10;
    }

    nav .nav-links {
        transition: all 0.3s ease;
    }

    .hamburger-menu {
        display: block;
    }

    nav .effect-underline {
        padding: 10px 0;
        border-bottom: 1px solid #333;
        color: white;
    }

    .effect-underline:after {
        background: none;
    }

    .effect-underline:hover:after {
        width: 0;
    }
}


/* SEÇÃO PRINCIPAL(HERO) */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    height: 100vh;
    position: relative;
    height: 100vh;
    background-image: url('/Public/Images/locadora.jpg') !important;
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.8);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
    max-width: 600px;
}

.hero .hero-btn {
    background-color: #00c43f;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.remove-a {
    text-decoration: none;
    color: #fff;
}

.hero button:hover {
    background-color: #04832c;
    cursor: pointer;
}

/* SEÇÃO DE SERVIÇOS */
.services-title {
    text-align: center;
    padding: 2%;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.service-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    margin: 15px;
    width: 390px;
}

.service-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.service-card:hover {
    transform: scale(1.05);
}

.text-services {
    padding: 20px;
}
.text-services p, h3{
    font-size: 1em;
}

.service-link {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: white;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
}

.service-link:hover {
    background-color: #009f3f;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .service-box {
        justify-content: center;
    }

    .service-card {
        width: 90%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .services-title {
        font-size: 2em;
    }

    .service-card img {
        height: 150px;
    }
}

/* SEÇÃO DE PLANOS */
.rental-plans {
    padding: 40px;
    text-align: center;
}

.plans-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.plan-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 280px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.plan-card:hover {
    transform: scale(1.05);
}

.popular-plan {
    border: 2px solid #4caf50; 
}

.plan-features {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.plan-features li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    height: 40px; /* Altura fixa */
}

.icon {
    margin-right: 8px; 
    flex-shrink: 0;
}

.plan-price {
    font-size: 1.5em;
    margin: 20px 0;
    color: #4caf50; 
}

.btn-select {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-select:hover {
    background-color: #45a049;
}

/* Responsividade */
@media (max-width: 768px) {
    .plan-container {
        flex-direction: column;
        align-items: center; 
    }

    .plan-card {
        width: 90%;
        margin: 10px 0; 
    }
}

@media (max-width: 480px) {
    .plans-title {
        font-size: 2em;
    }

    .plan-price {
        font-size: 1.2em;
    }

    .btn-select {
        padding: 8px 16px;
    }
}


/* SEÇÃO DE FEEDBACK */
.feedback-section {
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
}

.feedback-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.feedback-card {
    background-color: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; 
}

.feedback-text p {
    font-size: 1.1rem;
    color: #333;
}

.feedback-photo img {
    border-radius: 50%;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.stars {
    margin-top: 10px;
    color: #00c43f;
}

@media (max-width: 768px) {
    .feedback-card {
        width: 100%;
        max-width: 300px;
    }
}

/* SEÇÃO ABOUT US */
.about-section {
    background: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.about-section h1 {
    color: #333;
    font-size: 2.8em;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.about-section h2 {
    color: #333;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid wheat;
    padding-bottom: 5px;
}

.about-section p {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    color: #333;
}

.about-section .service-list {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.about-section .service-list li {
    background: #ecf0f1;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-section .service-list li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #00c43f;
    text-decoration: none;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: #111; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}
.scroll-to-top:hover {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.title-plans {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

@media (max-width: 768px) {
    .title-plans {
        font-size: 1.5rem !important;
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .title-plans {
        font-size: 1.2rem;
        padding: 0 10px;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    header nav a {
        font-size: 9pt;
    }

    header h1 {
        font-size: 12pt;
        margin-left: 5px;
    }

    .hero h2 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero button {
        padding: 10px 20px;
        font-size: 1em;
    }

    .services-section,
    .feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services .service-item {
        width: 90%;
    }

    .feedback-section {
        flex-direction: column;
    }

    .box-user {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .services h3 {
        font-size: 2em;
    }

    .content {
        flex-direction: column;
    }

    .container-content {
        width: 100%;
        margin: 10px 0;
    }

    /* Ajuste de feedback */
    .feedback-section {
        flex-direction: column;
    }

    .box-user {
        width: 95%;
        margin: 10px auto;
    }

    /* Ajuste no rodapé */
    footer p {
        font-size: 0.9em;
    }
}

/* Media Query para a seção de planos*/
@media (max-width: 768px) {
    .box-plans {
        flex-direction: column;
        align-items: center;
    }

    .container-content {
        width: 90%;
        margin: 10px 0;
    }

    .title-plans {
        font-size: 1.5em;
    }

    .content button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

/* Ajuste para telas menores na title e nos botões */
@media (max-width: 480px) {
    .title-plans {
        font-size: 1.25em;
    }

    .content button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}

@media (max-width: 600px) {
    .pfp-user {
        width: 50px;
        height: 50px; 
    }

    .txt-feedback {
        font-size: 1em;
    }

    .title-plans {
        font-size: 1.5em;
    }
}
