#products {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#products h3 {
    text-align: center;
    padding: 10px;
    margin: 50px 0 -60px 0;
    font-size: 20pt
}

.slider-wrapper {
    margin-top: 80px;
    max-width: 1400px;
    margin: 70px 55px;
    border-radius: 6px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}
.card-list .card-item {
    color: #333;
    user-select: none;
    width: 400px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
}


.card-list .card-item .user-image {
    max-width:300px;
    max-height:200px;
    width: auto;
    height: auto;
    margin-bottom: 40px;
    padding: 4px;
}

.card-list .card-item .car-descr {
    font-size: 1.15rem;
    color: #333e2c;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .alugar {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #00a334;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .alugar:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #00a380;
    color: #111
}

.slider-wrapper .swiper-pagination-bullet {
    background: #333;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #333;
    margin-top: -50px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
}

@media (max-width: 768px){
    .slider-wrapper {
        margin: 0 10px 40px;
    }
    .slider-wrapper .swiper-slide-button {
        display: none;
    }
}